<% if(typeof hero != "undefined" && hero) { %>
  <div class="col-md-12">
    <img class="banner" src="/images/articles/<%- current.source %>/hero.jpg" title="<%- title %>" />
  </div>
<% } %>

<div class="col-md-offset-2 col-md-10">
  <div class="heading">
    <ul class="list-unstyled meta-header">
      <li><h1 class="meta-title"><%- title %></h1><li>
      <% if(typeof tagline != "undefined") { %>
        <li class="meta-tagline"><%- tagline %></li>
      <% } %>
    </ul>
  </div>
</div>
  
<div class="col-md-2">
  <div class="sidebar">
    <p><%- partial("../_shared/_tagline") %></p>
  </div>
</div>

<% if(current.path[0] == "projects") { %>

  <div class="col-md-6">
    <a href="<%- link %>">
    <img class="img-responsive project-hero" src="/images/projects/<%- current.source %>/hero.jpg" />
    </a>
  </div>
  <div class="col-md-4">
    <div class="content">
      <%- yield %>
      <% if(typeof link != "undefined") { %>
        <a class="project-link" href="<%- link %>"><span class="icon">link</span> View the project</a> 
      <% } %>
    </div>
    <%- partial("_meta_footer") %>
  </div>

<% } else { %>

  <div class="col-md-8">
    <div class="content">
      <%- yield %>
    </div>
    <%- partial("_meta_footer") %>
  </div>

<% } %>