<div class="col-md-2">
  <div class="sidebar">
    <p><%- partial("../_shared/_tagline") %></p>
  </div>
</div>
<div class="col-md-8">
  <div class="posts">
    <% for(slug in public.writing._data) { %>
      <% if(slug != "index") { %>
        <% var article = public.writing._data[slug] %>
        <% if(article.published !== false || environment=='development') { %>
          <% var classes = article.published == false ? 'unpublished' : '' %>
          <a href="/writing/<%- slug %>" class="article-link <%- classes %>">
            <% if(typeof article.hero != "undefined" && article.hero) { %>
              <img class="banner" src="/images/writing/<%- slug %>/hero.jpg" title="<%- title %>" />
            <% } %>
            <ul class="list-unstyled">
              <li class="article-link-title"><%- article.title %></li>
              <% if(typeof article.tagline != "undefined") { %>
                <li class="article-link-tagline"><%- article.tagline %></li>
              <% } %>
              <li class="article-link-date"><%- article.date %></li>
            </ul>
          </a>
        <% } %>
      <% } %>
    <% } %>
  </div>
</div>
