<% function parseDate(string) {
  var date = new Date(Date.parse(article.date));
  return {
    "year": date.getFullYear(),
    "month": date.getMonth(),
    "day": date.getDay()
  }
} %>

<div class="col-md-2">
  <div class="sidebar">
    <p><%- partial("../_shared/_tagline") %></p>
  </div>
</div>
<div class="col-md-8">
  <div class="posts">
    <% for(slug in public.writing._data) { %>
      <% if(slug != "index") { %>
        <% var article = public.writing._data[slug] %>
        <% article.formatted_date = parseDate(article.date) %>
        <% if(article.published !== false || environment=='development') { %>
          <% var classes = article.published == false ? 'unpublished' : '' %>
          <a href="/writing/<%- slug %>" class="article <%- classes %>">
            <h2 class="article-title"><%- article.title %></h2>
            <h3 class="article-date"><%- article.date %></h3>
          </a>
        <% } %>
      <% } %>
    <% } %>
  </div>
</div>
